<!DOCTYPE html>
<html ng-app="bookApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="CSS/styles.css">
    <title>Гостевая</title>
</head>
<body ng-controller="bookController">
<body ng-controller="bookController">
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="modalTitle">{{title}}</h4>
            </div>
            <div class="modal-body" id="modalBody">
                <form action="" id="inputForm">
                    <input type="text" class="form-control required" placeholder="{{loginPlaceholder}}" id="login" style="margin-bottom: 10px" ng-model="login">
                    <input type="password" class="form-control required" placeholder="Пароль" id="password" ng-model="password" ng-show="!show">
                    <textarea id="messageId" class="required" placeholder="Текст сообщения" ng-model="message" ng-show="show" style="resize: none; width: 100%; border-radius: 5px"></textarea>
                    <span id="errorSpan" style="color: red">{{error}}</span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" aria-hidden="true" id="submit" ng-click="modalSubmit()">{{submit}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div style="margin-top:10%"></div>

<div class="content" ng-init="init()"> <!---->
    <!--Шаблон для сообщения-->
    <div class="row" ng-repeat="record in records">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="row message">
                <table class="tabl">
                    <tr>
                        <td class="head">
                            <strong>{{record.date}}</strong>
                            <p>{{record.autorName}}</p>
                        </td>
                        <td class="body">
                            <p>{{record.text}}</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--Шаблон для сообщения-->
</div>
</body>
<!--======================================================================================-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="bower_components/jquery-cookie/jquery.cookie.js"></script>
<!--======================================================================================-->
<script src="JS/scripts.js"></script>
<script src="JS/Book/bookCtrl.js"></script>
<script src="JS/Book/bookSvc.js"></script>
<!--======================================================================================-->
</html>